<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="../public/styles.css" rel="stylesheet" type="text/css" />
    <script src="../public/client.js"></script>
    <script src="../public/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section id="input-section">
        <span id="greet-user"><h1>Welcome,</h1> </span>
        <input
          id="url-input"
          type="text"
          placeholder="Enter that sweet, long URL address"
        />
        <button type="button" id="input-button">Shorten</button>
      </section>
      <section id="results">
        <div id="url-presentor">
          <span id="presentor-placeholder">Your URL will appear here...</span>
        </div>
      </section>
      <div id="main-wrapper">
        <div id="stats-grid">
          <ul id="links">
            <label for="">Shortened Link</label>
          </ul>
          <ul id="originals">
            <label for="" class="table-label">Original Link</label>
          </ul>
          <ul id="shortcut-id">
            <label for="" class="table-label">Shortened ID</label>
          </ul>
          <ul id="redirect-count">
            <label for="" class="table-label">Redirect Count</label>
          </ul>
          <ul id="creation-date">
            <label for="" class="table-label">Creation Date</label>
          </ul>
        </div>
        <section id="registration">
          <label for="enter-username">Usesrname</label>
          <input type="text" name="username" id="username-input" />
          <label for="enter-password">Password</label>
          <input type="password" name="password" id="password-input" />
          <button id="register-button">Register</button>
          <button id="login-button">Log in</button>
          <button id="logout-button">Log out</button>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
