body {
  font-size: 1rem;
  color: #222;
  background: rgb(40, 42, 187);
  background: linear-gradient(
    90deg,
    rgba(40, 42, 187, 1) 0%,
    rgba(77, 31, 184, 1) 36%,
    rgba(125, 49, 208, 1) 100%,
    rgba(77, 31, 184, 1) 100%
  );
  text-align: center;
  line-height: 1.4em;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4em;
}

#input-section {
  user-select: none;
  transition: 600ms;
  #greet-user {
    display: flex;
    font-size: 1rem;
    margin-left: 2vw;
    margin-top: -6vh;
    .welcome-h1 {
      padding-left: 4px;
    }
  }
  #url-input {
    padding: 8px;
    width: 220px;
    border-radius: 4px;
    background-color: wheat;
  }

  #input-button {
    box-shadow: inset 0px 1px 0px 0px #f9eca0;
    background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
    background-color: #f0c911;
    border-radius: 6px;
    border: 1px solid #e65f44;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ded17c;
    &:hover {
      background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
      background-color: #f2ab1e;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }

  #input-button:focus {
    outline: none;
  }
}

#url-presentor {
  user-select: none;

  transition: 470ms;
  margin-left: auto;
  margin-right: auto;
  height: 6vh;
  width: 29vw;
  margin-top: 2vh;
  border-radius: 6px;
  background-color: rgba(245, 245, 245, 0.644);

  #presentor-placeholder {
    position: relative;
    top: 10px;
    font-size: 14px;
    font-style: italic;
    color: rgba(77, 76, 76, 0.534);
  }
  #shortened-url {
    letter-spacing: 1.5px;
    transition: 470ms;

    display: inline-block;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.822);
    padding: 10px;
    border-radius: 5px;
  }
  #shortened-url:hover {
    transition: 700ms;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    background-color: rgb(238, 225, 201);
    font-size: 18px;
  }
}
#stats-grid * {
  text-decoration: none;
}
#main-wrapper {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  #stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . .";
    background-color: rgba(49, 47, 47, 0.425);
    border-radius: 10px;
    font-weight: bold;
    color: rgba(255, 7, 7, 0.534);
    text-shadow: 1px 1px 1px #000000;
    height: 100%;
    .table-label {
      user-select: none;
      font-size: 14px !important;
    }
    #links {
      list-style-type: none;
      .link-list-items {
        padding-top: 6px;
        font-size: 14px;
      }
    }
    #originals {
      transition: 600ms;
      list-style-type: none;
      font-size: 14px;

      .original-link {
        transition: 600ms;
        color: rgb(102, 32, 32);
        font-size: 14px;
        word-break: break-all;
      }
      .stat-summary {
        transition: 600ms;
        padding: 6px;
        cursor: pointer;
      }
      .stat-summary:focus {
        outline: none;
      }
      details[open] summary ~ * {
        animation: sweep 0.5s ease-in-out;
        background-color: rgb(248, 248, 248);
        text-shadow: none;
        padding: 6px;
        border-radius: 6px;
      }

      @keyframes sweep {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
          margin-left: 0px;
        }
      }
    }
    #shortcut-id {
      list-style-type: none;
      font-size: 14px;
    }
    #redirect-count {
      list-style-type: none;
      font-size: 14px;
    }
    #creation-date {
      list-style-type: none;
      font-size: 14px;
      margin-right: 12px;
    }
    #creation-date * {
      font-size: 11px;
      margin: 14px;
    }
  }
  #registration {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 12px;
    top: -6vh;
    height: 160%;
    .register-buttons {
      margin: 8px;
      box-shadow: 0px 0px 0px 2px #9fb4f2;
      background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
      background-color: #7892c2;
      border-radius: 10px;
      border: 1px solid #4e6096;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 16px;
      padding: 6px 22px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #283966;
    }
    .registration-inputs {
      width: 80%;
      padding: 4px;
      background-color: rgba(245, 222, 179, 0.692);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 6px;
    }
  }
  #registration * {
    margin: 2px;
  }
}
.register-button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.register-button:active {
  position: relative;
  top: 1px;
}
